.3_1413 { 
	overflow:hidden;
}
.e3_1413 { 
	background-color:rgba(255, 255, 255, 1);
	width:1980px;
	height:11669.48046875px;
	position:absolute;
}
.e3_1534 { 
	background-color:rgba(0, 2.000000118277967, 18.000000827014446, 1);
	width:2932px;
	height:11952px;
	position:absolute;
	left:-61px;
	top:-280px;
}
.e6_252 { 
	border-radius:500px;
	width:2542px;
	height:791px;
	position:absolute;
	left:-217px;
	top:2402px;
}
.e6_263 { 
	border-radius:500px;
	width:2542px;
	height:982px;
	position:absolute;
	left:-217px;
	top:4178px;
}
.e6_265 { 
	border-radius:500px;
	width:2542px;
	height:982px;
	position:absolute;
	left:-217px;
	top:5894px;
}
.e6_264 { 
	border-radius:500px;
	width:2542px;
	height:1436px;
	position:absolute;
	left:-217px;
	top:7560px;
}
.e6_266 { 
	border-radius:500px;
	width:3100px;
	height:1436px;
	position:absolute;
	left:-496px;
	top:9123px;
}
.e6_251 { 
	border-radius:500px;
	width:2542px;
	height:2542px;
	position:absolute;
	left:-285px;
	top:-1849px;
}
.e3_1497 { 
	color:rgba(255, 255, 255, 1);
	width:777px;
	height:140px;
	position:absolute;
	left:601px;
	top:188px;
	font-family:Inter;
	text-align:center;
	font-size:80px;
	letter-spacing:-2;
	line-height:px;
}
.e3_1538 { 
	color:rgba(255, 255, 255, 1);
	width:657px;
	height:63px;
	position:absolute;
	left:678px;
	top:379px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e6_3 { 
	background-color:rgba(20.000000707805157, 22.000000588595867, 35.00000171363354, 1);
	width:1190px;
	height:686px;
	position:absolute;
	left:379px;
	top:642px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e6_9 { 
	color:rgba(255, 255, 255, 1);
	width:578px;
	height:56px;
	position:absolute;
	left:753px;
	top:1576px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:-2;
	line-height:px;
}
.e6_13 { 
	color:rgba(255, 255, 255, 1);
	width:451px;
	height:104px;
	position:absolute;
	left:781px;
	top:2164px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e6_14 { 
	color:rgba(255, 255, 255, 1);
	width:667px;
	height:84px;
	position:absolute;
	left:656px;
	top:2290px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:-2;
	line-height:px;
}
.e21_2 { 
	width:1138px;
	height:984px;
	position:absolute;
	left:473px;
	top:2412px;
}
.e6_254 { 
	transform: rotate(180deg);
	background-image:linear-gradient(0deg, rgba(39.45305876433849, 42.29597121477127, 60.77493064105511, 1) 0%,rgba(103.3418919146061, 106.73296675086021, 128.77499878406525, 0) 100%) ;
	width:749px;
	height:476px;
	position:absolute;
	left:749px;
	top:0px;
	border-top-left-radius:43px;
	border-top-right-radius:43px;
	border-bottom-left-radius:43px;
	border-bottom-right-radius:43px;
}
.e6_255 { 
	transform: rotate(180deg);
	background-image:linear-gradient(0deg, rgba(39.45305876433849, 42.29597121477127, 60.77493064105511, 1) 0%,rgba(103.3418919146061, 106.73296675086021, 128.77499878406525, 0) 100%) ;
	width:372px;
	height:476px;
	position:absolute;
	left:1138px;
	top:0px;
	border-top-left-radius:43px;
	border-top-right-radius:43px;
	border-bottom-left-radius:43px;
	border-bottom-right-radius:43px;
}
.e6_253 { 
	background-image:linear-gradient(0deg, rgba(39.45305876433849, 42.29597121477127, 60.77493064105511, 1) 0%,rgba(103.3418919146061, 106.73296675086021, 128.77499878406525, 0) 100%) ;
	width:372px;
	height:476px;
	position:absolute;
	left:0px;
	top:508px;
	border-top-left-radius:43px;
	border-top-right-radius:43px;
	border-bottom-left-radius:43px;
	border-bottom-right-radius:43px;
}
.e6_19 { 
	background-image:linear-gradient(0deg, rgba(39.45305876433849, 42.29597121477127, 60.77493064105511, 1) 0%,rgba(103.3418919146061, 106.73296675086021, 128.77499878406525, 0) 100%) ;
	width:749px;
	height:476px;
	position:absolute;
	left:389px;
	top:508px;
	border-top-left-radius:43px;
	border-top-right-radius:43px;
	border-bottom-left-radius:43px;
	border-bottom-right-radius:43px;
}
.e6_27 { 
	color:rgba(255, 255, 255, 1);
	width:620px;
	height:140px;
	position:absolute;
	left:680px;
	top:3736px;
	font-family:Inter;
	text-align:center;
	font-size:80px;
	letter-spacing:-2;
	line-height:px;
}
.e6_28 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.15789473056793213) 0%,rgba(255, 255, 255, 0.5989974737167358) 17.1875%,rgba(255, 255, 255, 0.7270954847335815) 19.78287696838379%,rgba(47.94243782758713, 43.36272217333317, 76.07498824596405, 1) 54.6875%,rgba(20.000000707805157, 22.000000588595867, 35.00000171363354, 1) 62.28492856025696%,rgba(0, 2.000000118277967, 18.000000827014446, 1) 92.8124725818634%) ;
	width:776px;
	height:488px;
	position:absolute;
	left:602px;
	top:3929px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}
.e6_30 { 
	color:rgba(255, 255, 255, 1);
	width:578px;
	height:108px;
	position:absolute;
	left:724px;
	top:4264px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:-2;
	line-height:px;
}
.e6_46 { 
	width:1198px;
	height:535px;
	position:absolute;
	left:391px;
	top:4844px;
}
.e6_35 { 
	width:1198px;
	height:535px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_33 { 
	width:585px;
	height:535px;
	position:absolute;
	left:613px;
	top:0px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}
.e6_34 { 
	width:587px;
	height:535px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}
.e6_36 { 
	width:1198px;
	height:535px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_37 { 
	background-image:linear-gradient(0deg, rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 0.5799999833106995) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:585px;
	height:535px;
	position:absolute;
	left:613px;
	top:0px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}
.e6_38 { 
	background-image:linear-gradient(0deg, rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 0.5799999833106995) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:587px;
	height:535px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}
.e6_39 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.15789473056793213) 0%,rgba(255, 255, 255, 0.5989974737167358) 15.142768621444702%,rgba(255, 255, 255, 0.7270954847335815) 23.874351382255554%,rgba(37.64107659459114, 31.79952844977379, 73.52492988109589, 1) 68.98753046989441%,rgba(20.000000707805157, 22.000000588595867, 35.00000171363354, 1) 76.47437453269958%,rgba(0, 2.000000118277967, 18.000000827014446, 1) 92.8124725818634%) ;
	width:1082px;
	height:763px;
	position:absolute;
	left:507px;
	top:5894px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}
.e6_40 { 
	color:rgba(255, 255, 255, 1);
	width:618px;
	height:108px;
	position:absolute;
	left:739px;
	top:6445px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:-2;
	line-height:px;
}
.e6_41 { 
	background-image:linear-gradient(0deg, rgba(11.000000294297934, 13.000000175088644, 29.000000171363354, 1) 0%,rgba(255, 255, 255, 0.5989974737167358) 15.142768621444702%,rgba(255, 255, 255, 0.7270954847335815) 23.874351382255554%,rgba(30.127165988087654, 52.970350831747055, 67.57498875260353, 1) 68.98753046989441%,rgba(20.000000707805157, 22.000000588595867, 35.00000171363354, 1) 76.47437453269958%,rgba(30.059884898364544, 32.487796917557716, 53.12498353421688, 1) 100%) ;
	width:1082px;
	height:638px;
	position:absolute;
	left:507px;
	top:7405px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}
.e6_42 { 
	color:rgba(255, 255, 255, 1);
	width:566px;
	height:108px;
	position:absolute;
	left:791px;
	top:7978px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:-2;
	line-height:px;
}
.e6_62 { 
	width:910px;
	height:111px;
	position:absolute;
	left:468px;
	top:4896px;
}
.e6_54 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:-2;
	line-height:px;
}
.e6_58 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:36px;
	position:absolute;
	left:613px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:-2;
	line-height:px;
}
.e6_56 { 
	color:rgba(255, 255, 255, 1);
	width:272px;
	height:46px;
	position:absolute;
	left:7px;
	top:44px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_59 { 
	color:rgba(255, 255, 255, 1);
	width:295px;
	height:69px;
	position:absolute;
	left:615px;
	top:42px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e25_49 { 
	width:1198px;
	height:535px;
	position:absolute;
	left:394px;
	top:8565px;
}
.e6_47 { 
	width:1198px;
	height:535px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_48 { 
	width:1198px;
	height:535px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_49 { 
	width:585px;
	height:535px;
	position:absolute;
	left:613px;
	top:0px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}
.e6_50 { 
	width:587px;
	height:535px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}
.e6_51 { 
	opacity:0.75;
	width:1198px;
	height:535px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_52 { 
	background-image:linear-gradient(0deg, rgba(192.52499878406525, 192.52499878406525, 192.52499878406525, 1) 0%,rgba(0, 2.000000118277967, 18.000000827014446, 1) 100%) ;
	width:585px;
	height:535px;
	position:absolute;
	left:613px;
	top:0px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}
.e6_53 { 
	background-image:linear-gradient(0deg, rgba(190.82498520612717, 190.82498520612717, 190.82498520612717, 1) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:587px;
	height:535px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}
.e6_66 { 
	width:887px;
	height:111px;
	position:absolute;
	left:39px;
	top:55px;
}
.e25_47 { 
	width:277px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_67 { 
	color:rgba(255, 255, 255, 1);
	width:182px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:-2;
	line-height:px;
}
.e6_69 { 
	color:rgba(255, 255, 255, 1);
	width:277px;
	height:46px;
	position:absolute;
	left:0px;
	top:44px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e25_48 { 
	width:277px;
	height:111px;
	position:absolute;
	left:610px;
	top:0px;
}
.e6_68 { 
	color:rgba(255, 255, 255, 1);
	width:277px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:-2;
	line-height:px;
}
.e6_70 { 
	color:rgba(255, 255, 255, 1);
	width:263px;
	height:69px;
	position:absolute;
	left:0px;
	top:42px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_63 { 
	color:rgba(255, 255, 255, 1);
	width:637px;
	height:140px;
	position:absolute;
	left:734px;
	top:5701px;
	font-family:Inter;
	text-align:center;
	font-size:80px;
	letter-spacing:-2;
	line-height:px;
}
.e6_64 { 
	color:rgba(255, 255, 255, 1);
	width:566px;
	height:140px;
	position:absolute;
	left:780px;
	top:7203px;
	font-family:Inter;
	text-align:center;
	font-size:80px;
	letter-spacing:-2;
	line-height:px;
}
.e6_75 { 
	color:rgba(255, 255, 255, 1);
	width:712px;
	height:140px;
	position:absolute;
	left:663px;
	top:9427px;
	font-family:Inter;
	text-align:center;
	font-size:80px;
	letter-spacing:-2;
	line-height:px;
}
.e6_81 { 
	width:148px;
	height:148px;
	position:absolute;
	left:916px;
	top:9593px;
}
.e6_83 { 
	width:148px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_76 { 
	border-radius:500px;
	background-image:linear-gradient(0deg, rgba(111.15605860948563, 102.29325458407402, 144.0749841928482, 1) 0%,rgba(47.0000009983778, 35.00000171363354, 94.0000019967556, 1) 100%) ;
	width:148px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_84 { 
	background-image:linear-gradient(0deg, rgba(123.0000002682209, 87.00000241398811, 226.0000017285347, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:80px;
	height:80px;
	position:absolute;
	left:34px;
	top:34px;
}
.6_84 { 
	border:1px solid rgba(140.00000685453415, 109.00000110268593, 227.00000166893005, 1);
}
.e6_77 { 
	border-radius:500px;
	background-image:linear-gradient(0deg, rgba(123.0000002682209, 87.00000241398811, 226.0000017285347, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
.6_77 { 
	border:1px solid rgba(140.00000685453415, 109.00000110268593, 227.00000166893005, 1);
}
.e6_82 { 
	background-color:rgba(255, 255, 255, 1);
	width:41px;
	height:41px;
	position:absolute;
	left:19px;
	top:20px;
}
.6_82 { 
	border:1px solid rgba(140.00000685453415, 109.00000110268593, 227.00000166893005, 1);
}
.e6_85 { 
	color:rgba(255, 255, 255, 1);
	width:616px;
	height:108px;
	position:absolute;
	left:696px;
	top:9841px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:-2;
	line-height:px;
}
.e6_103 { 
	width:1069px;
	height:184px;
	position:absolute;
	left:456px;
	top:10150px;
}
.e21_28 { 
	width:1069px;
	height:184px;
	position:absolute;
	left:0px;
	top:0px;
}
.e21_25 { 
	width:304px;
	height:184px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_86 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e6_97 { 
	color:rgba(255, 255, 255, 1);
	width:304px;
	height:72px;
	position:absolute;
	left:0px;
	top:112px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_26 { 
	width:318px;
	height:172px;
	position:absolute;
	left:374px;
	top:0px;
}
.e6_88 { 
	color:rgba(255, 255, 255, 1);
	width:263px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e6_98 { 
	color:rgba(255, 255, 255, 1);
	width:318px;
	height:72px;
	position:absolute;
	left:0px;
	top:100px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_27 { 
	width:307px;
	height:160px;
	position:absolute;
	left:762px;
	top:0px;
}
.e6_90 { 
	color:rgba(255, 255, 255, 1);
	width:291px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e6_99 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:48px;
	position:absolute;
	left:0px;
	top:112px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e6_121 { 
	width:1081px;
	height:160px;
	position:absolute;
	left:456px;
	top:1692px;
}
.e25_32 { 
	width:1082px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e25_29 { 
	width:304px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_122 { 
	color:rgba(255, 255, 255, 1);
	width:275px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e6_123 { 
	color:rgba(255, 255, 255, 1);
	width:304px;
	height:72px;
	position:absolute;
	left:0px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e25_30 { 
	width:349px;
	height:160px;
	position:absolute;
	left:365px;
	top:0px;
}
.e6_124 { 
	color:rgba(255, 255, 255, 1);
	width:349px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e6_125 { 
	color:rgba(255, 255, 255, 1);
	width:318px;
	height:72px;
	position:absolute;
	left:31px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e25_31 { 
	width:307px;
	height:136px;
	position:absolute;
	left:775px;
	top:0px;
}
.e6_126 { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:72px;
	position:absolute;
	left:3.5px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e6_127 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:48px;
	position:absolute;
	left:0px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_4 { 
	width:1081px;
	height:160px;
	position:absolute;
	left:456px;
	top:4536px;
}
.e25_37 { 
	width:1082px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e25_34 { 
	width:304px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e21_5 { 
	color:rgba(255, 255, 255, 1);
	width:275px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_8 { 
	color:rgba(255, 255, 255, 1);
	width:304px;
	height:72px;
	position:absolute;
	left:0px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e25_35 { 
	width:349px;
	height:160px;
	position:absolute;
	left:365px;
	top:0px;
}
.e21_6 { 
	color:rgba(255, 255, 255, 1);
	width:349px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_9 { 
	color:rgba(255, 255, 255, 1);
	width:318px;
	height:72px;
	position:absolute;
	left:31px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e25_36 { 
	width:307px;
	height:136px;
	position:absolute;
	left:775px;
	top:0px;
}
.e21_7 { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:72px;
	position:absolute;
	left:3.5px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_10 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:48px;
	position:absolute;
	left:0px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_11 { 
	width:1081px;
	height:160px;
	position:absolute;
	left:456px;
	top:6716px;
}
.e25_42 { 
	width:1082px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e25_39 { 
	width:304px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e21_12 { 
	color:rgba(255, 255, 255, 1);
	width:275px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_15 { 
	color:rgba(255, 255, 255, 1);
	width:304px;
	height:72px;
	position:absolute;
	left:0px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e25_40 { 
	width:349px;
	height:160px;
	position:absolute;
	left:365px;
	top:0px;
}
.e21_13 { 
	color:rgba(255, 255, 255, 1);
	width:349px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_16 { 
	color:rgba(255, 255, 255, 1);
	width:318px;
	height:72px;
	position:absolute;
	left:31px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e25_41 { 
	width:307px;
	height:136px;
	position:absolute;
	left:775px;
	top:0px;
}
.e21_14 { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:72px;
	position:absolute;
	left:3.5px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_17 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:48px;
	position:absolute;
	left:0px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_18 { 
	width:1081px;
	height:160px;
	position:absolute;
	left:456px;
	top:8278px;
}
.e25_46 { 
	width:1082px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e25_43 { 
	width:304px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e21_19 { 
	color:rgba(255, 255, 255, 1);
	width:275px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_22 { 
	color:rgba(255, 255, 255, 1);
	width:304px;
	height:72px;
	position:absolute;
	left:0px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e25_44 { 
	width:349px;
	height:160px;
	position:absolute;
	left:365px;
	top:0px;
}
.e21_20 { 
	color:rgba(255, 255, 255, 1);
	width:349px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_23 { 
	color:rgba(255, 255, 255, 1);
	width:318px;
	height:72px;
	position:absolute;
	left:31px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e25_45 { 
	width:307px;
	height:136px;
	position:absolute;
	left:775px;
	top:0px;
}
.e21_21 { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:72px;
	position:absolute;
	left:3.5px;
	top:0px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e21_24 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:48px;
	position:absolute;
	left:0px;
	top:88px;
	text-align:center;
	font-size:22px;
	letter-spacing:-2;
	line-height:px;
}
.e6_104 { 
	color:rgba(255, 255, 255, 1);
	width:679px;
	height:140px;
	position:absolute;
	left:684px;
	top:10855px;
	font-family:Inter;
	text-align:center;
	font-size:80px;
	letter-spacing:-2;
	line-height:px;
}
.e6_152 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:16px;
	position:absolute;
	left:1543px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_173 { 
	width:74px;
	height:32px;
	position:absolute;
	left:1608px;
	top:7px;
}
.e6_174 { 
	background-color:rgba(94.0000019967556, 106.00000128149986, 210.00000268220901, 1);
	width:74px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e6_175 { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:16px;
	position:absolute;
	left:9px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_177 { 
	width:186px;
	height:28px;
	position:absolute;
	left:881px;
	top:142px;
}
.e6_178 { 
	background-color:rgba(50.000000819563866, 51.00000075995922, 68.00000354647636, 1);
	width:186px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.6_178 { 
	border:1px solid rgba(59.00000028312206, 61.00000016391277, 76.0000030696392, 1);
}
.e6_179 { 
	width:181px;
	height:13px;
	position:absolute;
	left:0px;
	top:7px;
}
.e6_183 { 
	width:181px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_180 { 
	color:rgba(255, 255, 255, 1);
	width:181px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.6_182 { 
	border:0.5px solid rgba(255, 255, 255, 1);
}
.e6_182 { 
	width:4px;
	height:6.5px;
	position:absolute;
	left:174.5px;
	top:4.5px;
	border-radius:Symbol(figma.mixed)px;
}
.e6_204 { 
	background-color:rgba(94.0000019967556, 106.00000128149986, 210.00000268220901, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:921px;
	top:493px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e6_206 { 
	color:rgba(255, 255, 255, 1);
	width:78px;
	height:24px;
	position:absolute;
	left:19px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_213 { 
	transform: rotate(-90.00000250447808deg);
	width:11px;
	height:6.000000476837158px;
	position:absolute;
	left:105px;
	top:25.5px;
	border-radius:1px;
}
.6_213 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e6_209 { 
	width:179px;
	height:28px;
	position:absolute;
	left:900px;
	top:9982px;
}
.e6_210 { 
	background-color:rgba(30.00000011175871, 31.000000052154064, 49.00000087916851, 1);
	width:179px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.6_210 { 
	border:1px solid rgba(41.00000135600567, 41.00000135600567, 59.00000028312206, 1);
}
.e6_216 { 
	width:159px;
	height:13px;
	position:absolute;
	left:13px;
	top:7px;
}
.e6_211 { 
	width:159px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_212 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_214 { 
	transform: rotate(-90.00000250447808deg);
	width:11px;
	height:6.000000476837158px;
	position:absolute;
	left:150px;
	top:12px;
	border-radius:1px;
}
.6_214 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e6_218 { 
	background-color:rgba(94.0000019967556, 106.00000128149986, 210.00000268220901, 1);
	width:143px;
	height:40px;
	position:absolute;
	left:876px;
	top:11069px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e6_219 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:24px;
	position:absolute;
	left:19px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_231 { 
	background-color:rgba(18.000000827014446, 20.000000707805157, 35.00000171363354, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:1065px;
	top:11069px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.6_231 { 
	border:1px solid rgba(37.00000159442425, 39.00000147521496, 53.00000064074993, 1);
}
.e6_243 { 
	background-color:rgba(255, 255, 255, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:19px;
	top:12.5px;
}
.e6_232 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:24px;
	position:absolute;
	left:42px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_151 { 
	width:1980px;
	height:37px;
	position:absolute;
	left:0px;
	top:9px;
}
.e6_150 { 
	width:72px;
	height:18px;
	position:absolute;
	left:379px;
	top:3px;
}
.e6_145 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_149 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:18px;
	position:absolute;
	left:26px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_144 { 
	width:1980px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_129 { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:24px;
	position:absolute;
	left:558px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_131 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:24px;
	position:absolute;
	left:633px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_133 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:24px;
	position:absolute;
	left:730px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_135 { 
	color:rgba(255, 255, 255, 1);
	width:47px;
	height:24px;
	position:absolute;
	left:827px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_147 { 
	width:79px;
	height:24px;
	position:absolute;
	left:900px;
	top:0px;
}
.e6_137 { 
	color:rgba(255, 255, 255, 1);
	width:66px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.6_141 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e6_141 { 
	width:7px;
	height:4px;
	position:absolute;
	left:72px;
	top:11px;
	border-radius:1px;
}
.6_148 { 
	border:0.5px solid rgba(255, 255, 255, 1);
}
.e6_148 { 
	width:1980px;
	height:1px;
	position:absolute;
	left:0px;
	top:36px;
	border-radius:1px;
}
.e6_146 { 
	width:74px;
	height:24px;
	position:absolute;
	left:457px;
	top:0px;
}
.e6_128 { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
.e6_142 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e6_142 { 
	width:7px;
	height:4px;
	position:absolute;
	left:67px;
	top:11px;
	border-radius:1px;
}
.e6_139 { 
	color:rgba(255, 255, 255, 1);
	width:55px;
	height:24px;
	position:absolute;
	left:1006px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
	line-height:px;
}
