body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #3498db, #2ecc71);
  transition: background 2s ease-in-out; /* Add a smooth transition effect */
}

.animated-gradient.smooth-transition {
  background: linear-gradient(45deg, #e74c3c, #f39c12);
}
