.e3_3 { 
	overflow:hidden;
}
.e3_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1545px;
	height:4537px;
	position:absolute;
}
.e1_3 { 
	background-color:rgba(0, 0, 0, 1);
	width:963px;
	height:711px;
	position:absolute;
	left:-40px;
	top:0px;
}
.e1_5 { 
	background-color:rgba(215.92361122369766, 182.05321669578552, 0, 1);
	width:622px;
	height:711px;
	position:absolute;
	left:923px;
	top:0px;
}
.e1_6 { 
	color:rgba(255, 255, 255, 1);
	width:859px;
	height:467px;
	position:absolute;
	left:12px;
	top:115px;
	font-family:Inter;
	text-align:left;
	font-size:200px;
	letter-spacing:0;
}
.e1_8 { 
	color:rgba(255, 255, 255, 1);
	width:457px;
	height:546px;
	position:absolute;
	left:953px;
	top:36px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e11_11 { 
	width:238px;
	height:134px;
	position:absolute;
	left:1050px;
	top:484px;
	background-image:url(images/hollow_arrow_left.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e11_20 { 
	width:238px;
	height:134px;
	position:absolute;
	left:1181px;
	top:484px;
	background-image:url(images/hollow_arrow_right.png);
	background-repeat:no-repeat;
	background-size:cover;
}
